* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
	'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
	sans-serif;
	font-weight: 500;
}

/* Edit the styles below to complete the task */

header,
nav,
main,
aside,
footer {
	padding: 12px;
}

header {
	background-color: tomato;
}

nav {
	background-color: coral;
  height: 50vh;
  width: 20vw
}

main {
	background-color: moccasin;
 width: 60vw;
}

aside {
	background-color: sandybrown;
  width: 20vw
}

footer {
	background-color: slategray;
}
.app {
  display: grid;
  grid-template-areas: 
    'header header header header header header' 
    'left left middle middle right right' 
    'footer footer footer footer footer footer';
    
}
.header {
  grid-area: header;
  height: 25vh;
  text-align: center;
  font-size: 35px;
}
nav .left {
  grid-area: left;
}
aside .right {
  grid-area: right;
}
main .center {
  grid-area: middle;
}
.footer{
grid-area: footer;
height: 25vh;
text-align: center;
}
