* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  display: flex;
  flex-direction: column;
}
/* Edit the styles below to complete the task */
header,
nav,
main,
aside,
footer {
  padding: 12px;
}
header {
  height: 60px;
  background-color: tomato;
}
.content {
  display: flex;
  height: calc(100vh - 160px);
}
nav {
  width: 100px;
  background-color: coral;
}
main {
  flex: 1;
  background-color: moccasin;
}
aside {
  width: 100px;
  background-color: sandybrown;
}
footer {
  height: 100px;
  background-color: slategray;
}
