.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 70vw;
  height: 98vh;
  justify-items: center;
  align-items: center;
  row-gap: 20px;
  margin: auto;
}

.mortage__wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.mortage__input {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 20px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}

.mortage__button {
  border: 0;
  padding: 10px 20px;
  font-size: 20px;
  background: black;
  color: white;
  border-radius: 25px;
}

.form-input {
  height: 24px;
  background-color: #8383886b;
  border: 0;
  border-radius: 15px;
}

.mortage__result {
  justify-self: start;
}
