@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #dbeafe;
}



/* #d7da2f #cbd5e1 #122f3f #dbeafe #0b1c26*/

.input-con:focus-within {
  border-color: #d7da2f;
}

.input-con:focus-within .icon {
  background-color: #d7da2f;
}

input:focus .loan-amount-input {
  border-color: #d7da2f;
}


@media(max-width : 768px) {
  .main-div {
    flex-direction: column;
    height: 100%;
    border-radius: 0%;
  }

  .right-part {
    width: 100%;
  }
}